--require spec_helper --exclude-pattern './spec/assertions_spec.rb, ./spec/execute_operation_spec/crud_spec.rb, ./spec/execute_operation_spec/execute_operation_spec.rb, ./spec/operation_spec.rb, ./spec/replace_variables_spec.rb, ./spec/store_response_spec.rb, ./spec/testreport_handler_spec.rb,'
