--require spec_helper --exclude-pattern './spec/assertions_spec.rb, ./spec/execute_operation/crud_spec.rb, ./spec/load_fixtures_spec.rb, ./spec/initialize_spec.rb, ./spec/execute_operation/history_spec.rb'
