--require spec_helper --exclude-pattern './spec/assertions_spec.rb, ./spec/execute_operation_spec/crud_spec.rb, ./spec/load_fixtures_spec.rb, ./spec/initialize_spec.rb, ./spec/execute_operation_spec/history_spec.rb, ./spec/execute_operation_spec/execute_operation_spec.rb ./spec/extract_headers_spec.rb'
